@charset "UTF-8";
body {
	
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #333333;
	background-color: #fff;
	margin: 0px;
	background-image: url(images/fondo-x.jpg);
	
	
}
a:link {
	text-decoration: none;
	color: #369;
	font-weight: normal;
}
a:visited {
	text-decoration: none;
	color: #369;
}
a:hover {
	text-decoration: none;
	color: #369;
}
h1 {
	font-family: Impact, "Arial Black", "Trebuchet MS Bold";
	font-size: 18px;
	color: #FFF;
	font-weight: normal;
	font-variant: normal;
	line-height: 0px;
}
iframe {
    border:none;
}

#container #botones_a {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 10px;
	color: #F6F6F6;
	font-weight: bold;
}


h2 {
	font-weight: bold;
	color: #333;
	font-size: 10px;
	line-height: 0px;
}
#header table tr #barrras {
	background-image: url(images/barras_gris.gif);
}
#header table tr #barrras_rgb {
	background-image: url(images/barras_rgb.jpg);
}
#header table tr #barrras_cmy {
	background-image: url(images/barras_cmy.jpg);
}
.tablaindex {
	background-image: url(images/nhlogoindex.jpg);
	height: 490px;
	width: 450px;
}

#header_2 {
	height: 96px;
	width: 918px;
	margin-top: 8px;
	margin-right: 21px;
	margin-bottom: 4px;
	margin-left: 21px;
	float: left;
}
#container {
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;
	background-color: #E5E4E5;
	width: 960px;
	overflow: hidden;
	margin-bottom: 5px;
	
	
	
}

#header {
	background-image: url(images/cabecera2013.jpg);
	
	float: left;
	height: 101px;
	width: 960px;
	
}
#botones_a {
	background-image: url(images/botones_a.gif);
	background-repeat: repeat-x;
	float: left;
	height: 29px;
	width: 173px;
	padding-bottom: 0px;
	text-align: center;
	padding-top: 4px;
}
#botones_ppal {
	background-color: #CCC;
	float: left;
	height: 33px;
	width: 787px;
	background-image: url(images/botones_ppl.gif);
}
#sprybtones {
	float: right;
	height: 25px;
	width: 777px;
}
#sidebar1 {
	background-color: #E5E4E5;
	float: left;
	height: 420px;
	width: 170px;
	overflow: hidden;
	border-right-width: 3px;
	border-right-style: solid;
	border-right-color: #E5E4E5;
}
#miniaturas {
	font-size: 8px;
	float: left;
	height: 400px;
	width: 153px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	overflow: auto;
	margin-left: 10px;
	
}
#miniaturas_crece {
	float: left;
	height: 600;
	width: 153px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	overflow: hidden;
}
#miniatura {
	
	height: 148px;
	width: 128px;
	margin-bottom: 10px;
	margin-left: 0px;
	float: left;
	
}
#miniatura_1 {
	height: 148px;
	width: 128px;
	margin-bottom: 10px;
}
#miniatura_rect {
	height: 110.5px;
	width: 128px;
	margin-bottom: 10px;
}
#content {
	width: 767px;
	float: left;
	background-color: #E5E4E5;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 0px;
	
}
strong {
	font-weight: bold;
	color: #666;
}
.categoria {
	font-weight: bolder;
	color: #FFF;
	font-size: 12px;
}
#footer_a {
	background-image: url(images/footer_a.gif);
	float: left;
	height: 38px;
	width: 173px;
}
#footer {
	background-image: url(images/footer_a.gif);
	height: 38px;
	width: 960px;
	background-repeat: repeat-x;
	float: left;
	clear: both;
}
#imagotipo {
	height: 96px;
	width: 90px;
	background-image: url(images/imagotipo_negrohumo.jpg);
	background-color: #FFF;
}
.justify {
	text-align: justify;
}
.textopie {
	font-size: 9px;
	color: #999;
}

#container_2 {
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	background-color: #E5E4E5;
	width: 767px;
	overflow: hidden;
	margin-bottom: 0px;
	float:left;
	background-repeat:no-repeat
}


#container_index{
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;
	background-color: #ffffff;
	width: 470px;
	overflow: hidden;
	margin-bottom: 5px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #000;
	font-style: italic;
	height: 490px;
	background-image: url(images/nhlogoindex.jpg);
	background-repeat: no-repeat;
}
#content_index {
	height: 414px;
	width: 550px;
	margin-top: 76px;
	float: left;
}
#sidebar_left_index {
	float: left;
	height: 414px;
	width: 118px;
}
#centro_index {
	float: left;
	height: 414px;
	width: 214px;
	clear: none;
}
#sidebar_right_index {
	float: left;
	height: 414px;
	width: 138px;
}
#miniaturas ul li {
	list-style-type: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	
}
.lista_miniaturas{
	list-style-position: inside;
	padding-left:0;
*margin-left:0;	margin-top: 0px;
	margin-left: 0px;
}
.margintop{
	margin-top: 0px;
	
}
#swfaiuni{
width:400px;
height:225px;
}



#imagen{

margin-top:10px;
width:400px;
height:400px;
background: url()  no-repeat left top;
float:left;
}

#imagensobre{

margin-top:10px;
width:400px;
height:400px;
background: url('images/sobre_21.jpg') no-repeat center top;
float:left;
}

#imagensilencio{

margin-top:10px;
width:400px;
height:400px;
background: url('images/ElSilencioTambores_1.jpg')  no-repeat center top;
float:left;
}

#imagenaiuni{

margin-top:10px;
width:400px;
height:400px;
background: url('images/1aiuni.jpg')  no-repeat left top;
float:left;
}


#imagenrita{

margin-top:10px;
width:400px;
height:400px;
background: url('images/rita_1.jpg')  no-repeat left top;
float:left;
}

#imagenspaguettis{

margin-top:10px;
width:400px;
height:400px;
background: url('images/spaguetti_1.jpg') no-repeat center top;
float:left;
}

#imagencasiopea{

margin-top:10px;
width:400px;
height:400px;
background: url('images/casiopea_1.jpg') no-repeat center top;
float:left;
}

#imagengrafico{

margin-top:10px;
width:400px;
height:400px;
background: url('images/grafico_05.jpg') no-repeat center top;
float:left;
}

#imagen_video{

margin-top:10px;
width:400px;
height:400px;
float:left;
}

#imagenmiscelanea{

margin-top:10px;
width:400px;
height:400px;
background: url('images/miscelanea_0.jpg') no-repeat center top;
float:left;
}

#imagenmiscelanea2{

margin-top:10px;
width:400px;
height:400px;
background: url('images/miscelanea2_1.jpg') no-repeat center top;
float:left;
}

#imagencontacto{

margin-top:10px;
width:400px;
height:400px;
background: url('images/contacto_vect.jpg') no-repeat center top;
float:left;
}

#imagenweb{

margin-top:10px;
width:400px;
height:400px;
background: url('images/diseno_interface_nh_1.jpg') no-repeat center top;
float:left;
}

#imagenTMapp{

margin-top:10px;
width:400px;
height:400px;
background: url('images/TMapp_1.jpg') no-repeat center top;
float:left;
}

#imagenTMapp_prt{

margin-top:10px;
width:400px;
height:400px;
background: url('images/TMapp_prt_1.jpg') no-repeat center top;
float:left;
}

#imagencyc{

margin-top:10px;
width:400px;
height:400px;
background: url('images/vinetas_3.jpg') no-repeat center top;
float:left;
}

#imagenvectores{

margin-top:10px;
width:400px;
height:400px;
background: url('images/1vector.jpg') no-repeat center top;
float:left;
}

#imageneuridice{

margin-top:10px;
width:400px;
height:400px;
background: url('images/euridice_1.jpg') no-repeat center top;
float:left;
}

#imagenmerchandising{

margin-top:10px;
width:400px;
height:400px;
background: url('images/camiseta.jpg') no-repeat center top;
float:left;
}

#espacioficha{

margin-top:10px;
width:10px;
height:400px;
background: none;
float:left;
}
#textoficha{
	margin-top:0px;
	width:357px;
	height:365px;
	background: none no-repeat left bottom;
	float:left;
	padding-top: 0px;
}

#lupa{
width:35px;
height:35px;
background: none no-repeat left bottom;
float:left;
}
#rsociales{
width:322px;
height:35px;
background: none no-repeat left bottom;
float:left;
}
#rsociales2{
width:30px;
height:300px;
float:right;
}

	
#textoficha table {
}
