<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US"><!-- InstanceBegin template="/templates/plantilla .dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Ilustración Digital. Concept Art. Técnica Digital</title>
<!-- InstanceEndEditable -->
<script src="../SpryAssets/SpryMenuBar.js" type="text/javascript"></script>

<link href="../SpryAssets/SpryMenuBarHorizontal.css" rel="stylesheet" type="text/css" />
<!-- InstanceBeginEditable name="head" -->

<link href="../estilos_nh.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="../jquery.js">
</script>

<script type="text/javascript">
          $(document).ready(function(){
		
		 $("#miniatura1").click(function(){
			$("#imagensobre").css({'background' : 'url(../images/sobre_1.jpg) no-repeat center top', 'opacity' :1});	
			 });

		 $("#miniatura2").click(function(){
			$("#imagensobre").css({'background' : 'url(../images/sobre_2.jpg) no-repeat center top', 'opacity' :1});	
			 });
		 $("#miniatura3").click(function(){
			$("#imagensobre").css({'background' : 'url(../images/sobre_3.jpg) no-repeat center top', 'opacity' :1});	
			 });
		 $("#miniatura4").click(function(){
			$("#imagensobre").css({'background' : 'url(../images/sobre_4.jpg) no-repeat center top', 'opacity' :1});	
			 });
		 $("#miniatura5").click(function(){
			$("#imagensobre").css({'background' : 'url(../images/sobre_5.jpg) no-repeat center top', 'opacity' :1});	
			 });
			 
			 $("#miniatura6").click(function(){
			$("#imagensobre").css({'background' : 'url(../images/sobre_6.jpg) no-repeat center top', 'opacity' :1});	
			 });
			 
			 $("#miniatura7").click(function(){
			$("#imagensobre").css({'background' : 'url(../images/sobre_7.jpg) no-repeat center top', 'opacity' :1});	
			 });
 });
    </script>

<script src="SpryAssets/SpryMenuBar.js" type="text/javascript"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41672654-1', 'negrohumo.com');
  ga('send', 'pageview');

</script>


<link hreflang="en" href="http://www.negrohumo.com/sobre.html" rel="alternate" />

</head>
<!-- InstanceEndEditable -->
<body>
<div id="container">
  <div id="header">  
  <table width="883" height="96" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td width="90" rowspan="4"><img src="../images/imagotipo_negrohumo.gif" width="90" height="96" /></td>
      <td width="261" height="24"></td>
      <td width="92"></td>
      <td width="15"></td>
      <td width="425"></td>
      </tr>
    <tr>
      <td height="28"><img src="../images/logotipo_nh.gif" width="261" height="28" /></td>
      <td width="92" rowspan="2" valign="top" id="barrras"><table width="92" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="10" align="left" valign="middle"></td>
          <td width="82" height="9" align="left" valign="top"><a href="i_digital.html" style="color:#333333">:: inicio</a></td>
        </tr>
        <tr>
          <td align="left" valign="middle"></td>
          <td height="23" align="left" valign="bottom"><a href="mapaweb.html" style="color:#333333">:: mapa web</a></td>
        </tr>
        <tr>
          <td align="left" valign="middle"></td>
          <td height="21" align="left" valign="bottom"><a href="contacto.html" style="color:#333333">:: contacto</a></td>
        </tr>
      </table></td>
      <td width="15" rowspan="2">&nbsp;</td>
      <td rowspan="2" bgcolor="#FFFFFF"><iframe src="../imagotipo_nh_B.swf.html" width="425" height="62"></iframe></td>
    </tr>
    <tr>
      <td height="34"><img src="../images/gf_nh.jpg" width="261" height="34" /></td>
      </tr>
    <tr>
      <td height="10"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
  </div>

<div id="botones_a"></div>
<div id="botones_ppal">
    <div id="sprybtones">
      <ul id="MenuBar1" class="MenuBarHorizontal">
<li><a href="i_digital.html" class="MenuBarItemSubmenu">I. Digital</a>
  <ul>
<li><a href="i_digital.html">I.Digital</a></li>
</ul>
</li>
        <li><a class="MenuBarItemSubmenu" href="../index.html">Ilustraci&oacute;n</a>
          <ul>
            <li><a href="../index.html">APP Tarazona y Moncayo en Familia</a></li>
             <li><a href="./i_tarazonaymoncayo_app_prt.html">APP Tarazona y Moncayo en Familia (Prototipo)</a></li>
            <li><a href="./i_aiuni.html">Aiuni y La Caetra M&aacute;gica</a></li>
            <li><a href="./i_casiopea.html">Cuaderno de viaje de la Doctora Casiopea</a></li>
            <li><a href="./i_rita.html">Rita. La cigue&ntilde;a Planetaria</a></li>
            <li><a href="./i_elsilencio.html">El Silencio De Los Tambores</a></li>
            <li><a href="i_spaguettis.html">&iexcl;Los Spaguettis Ya Est&aacute;n Listos!</a></li>
          </ul>
        </li>
        <li><a href="./grafico.html" class="MenuBarItemSubmenu">Gr&aacute;fico</a>
          <ul>
            <li><a href="./grafico.html">Gr&aacute;fico</a></li>
          </ul>
        </li>
        <li><a href="./animacion.html" class="MenuBarItemSubmenu">Animaci&oacute;n </a>
          <ul>
            <li><a href="./a_tiempo.html">Tiempo (Arte Joven)</a></li>
            <li><a href="./a_aiuni.html">Aiuni Interactivo Animado</a></li>
<li><a href="./a_anacleta.html">La Galleta Anacleta</a></li>
          </ul>
        </li>
        <li><a href="./miscelanea.html" class="MenuBarItemSubmenu">Miscel&aacute;nea</a>
          <ul>
            <li><a href="./miscelanea.html">Miscel&aacute;nea_ 1</a></li>
            <li><a href="./miscelanea_2.html">Miscel&aacute;nea_ 2</a></li>
          </ul>
        </li>
        <li><a href="web.html" class="MenuBarItemSubmenu">Web</a>
          <ul>
            <li><a href="./web.html">Web</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div id="sidebar1"><!-- InstanceBeginEditable name="miniaturas" -->
    <div id="miniaturas">
     <ul class="lista_miniaturas">
     	      <li><a href="#" id="miniatura1"><img src="../images/sobre_1_m.jpg" border="0" alt=""/><br /><span>Ilustración Digital 1</span></a></li>

<li><a href="#" id="miniatura2"><img src="../images/sobre_2_m.jpg" border="0" alt=""/><br /><span>Ilustración Digital 2</span></a></li>

<li><a href="#" id="miniatura3"><img src="../images/sobre_3_m.jpg" border="0" alt=""/><br /><span>Ilustración Digital 3</span></a></li>

<li><a href="#" id="miniatura4"><img src="../images/sobre_4_m.jpg" border="0" alt=""/><br /><span>Ilustración Digital 4</span></a></li>

<li><a href="#" id="miniatura5"><img src="../images/sobre_5_m.jpg" border="0" alt=""/><br /><span>Ilustración Digital 5</span></a></li>

<li><a href="#" id="miniatura6"><img src="../images/sobre_6_m.jpg" border="0" alt=""/><br /><span>Ilustración Digital 6</span></a></li>

<li><a href="#" id="miniatura7"><img src="../images/sobre_7_m.jpg" border="0" alt=""/><br /><span>Ilustración Digital 7</span></a></li>
              
              
              
               
              
              
               

               
     </ul>
    </div>
  <!-- InstanceEndEditable --></div>
  <div id="content"><!-- InstanceBeginEditable name="container_2" -->
  <div id="container_2">
  <div id="imagensobre"></div><div id="espacioficha"></div><div id="textoficha"><table width="355" height="365" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="321" valign="top"><table width="310" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="320" height="4"></td>
        </tr>
        <tr>
          <td><h1>ILUSTRACIÓN DIGITAL</h1></td>
        </tr>
        <tr>
          <td height="5"></td>
        </tr>
        <tr>
          <td><h2>PROPUESTAS VARIAS</h2></td>
        </tr>
        <tr>
          <td height="5"></td>
        </tr>
    
       
        <tr>
          <td>Técnica_<strong> Digital.</strong></td>
        </tr>
        <tr>
          <td height="5"></td>
        </tr>
        <tr>
          <td style="text-align:justify"> Ilustraciones realizadas  actualmente.             
            </td>
        </tr>
        <tr>
          <td height="5"></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        
      </table></td>
    <td width="32" valign="top"><!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_floating_style addthis_16x16_style">
<a class="addthis_button_facebook"></a>
<a class="addthis_button_twitter"></a>
<a class="addthis_button_google_plusone_share"></a>
<a class="addthis_button_linkedin"></a>
<a class="addthis_button_favorites"></a>
<a class="addthis_button_print"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=undefined"></script>
<!-- AddThis Button END --></td>
  </tr>
</table>
</div>
      <div id="lupa"></div>
      <div id="rsociales"></div>
  </div>
  
   
  <!-- InstanceEndEditable --></div>
  <div id="footer"><table width="700" border="0" align="right" cellpadding="0" cellspacing="0">
  <tr>
    <td width="700" height="30" align="right" valign="bottom" class="textopie">edu@negrohumo.com / 661 484501</td>
    <td width="12" align="center" valign="bottom" class="textopie">&nbsp;</td>
  </tr>
</table>
</div>
</div>
<script type="text/javascript">
var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", {imgDown:"SpryAssets/SpryMenuBarDownHover.gif", imgRight:"SpryAssets/SpryMenuBarRightHover.gif"});
</script>
</body>
<!-- InstanceEnd --></html>
